<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :section %>
    <%= form.text_field :section %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :reactions %>
    <%= form.text_field :reactions %>
  </div>

  <div class="field">
    <%= form.label :is_owner %>
    <%= form.check_box :is_owner %>
  </div>

  <div class="field">
    <%= form.label :collection_notes %>
    <%= form.text_field :collection_notes %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.text_area :images %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
